
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


main {
    background-color: #fff;
    border: 1px solid #dddfe2;
    border-radius: 0px;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
  }

  h2 {
    color: #181a1b;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px;
  }

  label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
  }

  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #dddfe2;
    margin-bottom: 20px;
  }

  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #dddfe2;
    margin-bottom: 20px;
  }

  option {
    font-size: 16px;
  }